/*------| HTML |-----*/
html {font-size: 14px; }

/*------| Header |-----*/
.sidebar-toggle { padding: 10px 15px;}

/*-------| Navigation |--------*/
.nav > ul > li > a {padding: 11px 19px 10px; font-size: 12px;}
.nav > a { padding: 10px 16px 10px;}

/*------| Sidebar |-----*/


/*------| Content |-----*/


/*-------| Tabs |--------*/
.tabs ul li a {  padding: 9px 26px; }



/*------| Columns |-----*/
.col-sm-12, .col-sm-9, .col-sm-6, .col-sm-3 {
  width: calc(100% - 20px);
  padding: 10px;
  float: none; }

/*-------| Responsive Tabs |--------*/
.ResTabs {
  display: none; }

a.tabAccord {
  background: #4C4C4C;
  color: #fff;
  display: block;
  margin: 0 0 1px;
  padding: 10px 15px;
  position: relative;
  font-size: 1rem; }

a.tabAccord:hover, a.tabAccord:active {
  background: #333; }

a.tabAccord:before {
  content: "\f055";
  font-family: FontAwesome;
  position: absolute;
  font-size: 14px;
  right: 17px;
  top: 11px; }

a.tabAccord.active:before {
  content: "\f056"; }

.tabKent {margin: 0 0 15px;padding: 5px; }
.tabAcc{display: block; padding: 10px; background: #fff; margin: 0 0 1px; color: #000;}
.tabAcc.active{background: #13606d;}

/*--------| Login  |-------*/
.loginCont h4{ font-size: 1.5rem;}