/*--------| Form  |-------*/
.form-group {margin-bottom: 10px; overflow: hidden;
    label {width: 28%; margin-right: 10px; display: inline-block}
    .control-label {margin-bottom: 10px; width: 28%}
    input[type="text"], input[type="number"], select{ width: 62%; padding:7px;
        display: inline-block; color: #000; border: 1px solid #8e8e8e;}
    input[type="checkbox"] {margin-right: 5px}
    input::placeholder,  select{color: #8e8e8e;}
    select {width: 65.5%;
        option{color:#000;
            &:first-child{color: #8e8e8e;}
        }
    }
   
    .checklist {width: 65%; display: inline-block;vertical-align: top;}
}

.model-shadow {background: rgba(0, 0, 0, 0.5); z-index: 2; display: none; position: fixed;
  width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0}

.alert-box {width: 200px; @include border-radius(10px); border: 2px solid #000; padding: 10px;
  position: absolute; top: 50%; left: 50%; z-index: 3; display: none; transform: translate(-50%, -50%);
 text-align: center;
    &.show{display: block;}

}

button, .btn {padding: 6px 14px; cursor: pointer; color:$linkC-color;  border-width: 0 0 2px; 
    border-style: solid; font-size: 0.8rem;  @include border-radius(2px);
    @include box-shadow(1px 2px 2px rgba(0, 0, 0, 0.58));
    &.btn-sm{font-size: 0.7rem; padding: 4px 11px;}
    &.btn.disable{opacity: 0.5;}
    &.btn-primary{background: #053ee6;  border-color: #2f1cb5;}
    &.btn-noColor{background: none; border:0; box-shadow: none; color: #0e0e0e;}
    &.btn-info{background: #1d87c7; border-color: #8bb6da;}
    &.btn-warning{background: #dc5e22; border-color: #b14614;}
    &.btn-danger{background: #F00; border-color: #941010;}
    &.btn-default{background: #3ea909;  border-color: #329402;}
    &[disable]{pointer-events: none; opacity: 0.5;}
}
.btn + .btn{margin-left: 10px;}

form[name='myForm']{display: flex; flex-wrap: wrap  ;}