//Import Variable SCSS
@import 'variables';

//Import Global SCSS
@import 'reset';

//Import Mixins SCSS
@import 'mixins';

//Import Extends SCSS
@import 'extends';

//Import Form SCSS
@import 'form';


/*------| HTML |-----*/
html{font-size: 16px}
body{font: $font-stack; color: $secondary_color; background: $body_BG; line-height: 1.5;}

/*------| Header |-----*/
header.mainHeader { z-index: 1; @include fixElem(); bottom:auto;
    .headerTop{background: #696969;
        .logo {background: #09667b; text-align: center; width: 230px; float:left;
            a {color: $linkC-color; display: block; line-height: 0.8; padding: 15px; text-shadow: 1px 1px 1px #efefef;}
        }
        
        .headerRight{display: flex; justify-content: space-between;
            .sidebar-toggle {background: rgba(255, 255, 255, 0.15); color: $linkC-color; display: inline-block;
              padding: 9px 15px;
                &:hover{background: rgba(255, 255, 255, 0.3);}
            }
        }
    }
}
  
/*------| Header Progress |-----*/
.progress-container {width: 100%; height: 4px; background: #a6bef3;}
.progress-bar {height:4px; background: #f1cb0c; width: 0%;}
.scrollVal{position: fixed; top: 50%; left: 50%; background: rgba(255,255,255,0.7);
transform: translate(-50%, -50%); padding: 30px; font-size: 70px; color: $secondary_color;
text-align: center; @include box-shadow(0 0 0 8px rgba(24, 164, 195, 0.52)); display: none;
 @include border-radius(50%); border: 12px double #585858; width: 140px; height: 140px; line-height: 2; }

/*-------| Navigation |--------*/
.nav { display: flex;
    > ul {font-size: 0; display: flex;
        > li {position: relative;
            > a {border-right: 1px solid rgba(255, 255, 255, 0.2); color: $linkC-color; display: block;
                font-size: 13px; padding: 11px 25px;
                        &:hover{background: rgba(255, 255, 255, 0.05);}
                        &:active{background: rgba(255, 255, 255, 0.01)}
                 }
            &:hover > a{background: rgba(0, 0, 0, 0.2)}
            > ul {background: #163373; position: absolute; left: 0; min-width: 150px;
                display: none; border-bottom: 2px solid #3C8900; @include border-radius(0 0 5px 5px);
                > li {display: block; position: relative;
                    > a{border-bottom: 1px solid rgba(255, 255, 255, 0.2); color: $linkC-color; display: block; font-size: 12px; padding: 10px 21px}
                }
            }
        }
    }
    
    > a {color: $linkC-color; background: #359010; padding: 9px 16px 9px; @include box-shadow( -3px -3px 3px rgba(0,0,0,0.2));}
}

.nav > ul > li > ul.active{display: block; }
.nav > ul > li > ul > li:last-child a {border-bottom: 0}
.nav > ul > li:first-child {margin-left: 0}
.nav > ul > li.hasNav > a:before {content: "\f103"; font-family: FontAwesome; position: absolute;
font-size: 14px; right: 10px; top: 10px}
.nav > ul > li.hasNav.active > a:before {content: "\f102"}
.headClock{ color: #f7a45b;padding: 10px 9px 0;} 

/*------| Sidebar |-----*/
.wrapper {overflow: hidden; position: relative;
    
    .sidebar {background: #09667b; @include fixElem(); right:auto; width: 230px;  transition:left 200ms ease;
        .panel{max-height: 100%; overflow-y: auto; padding-bottom: 15px;
            a {display: block; color: $linkC-color;
                &.level1 {padding: 10px 15px; background-color: #1f5561; border-bottom: 1px solid #314056;
                position: relative;
                    i { padding-right: 10px}
                    &:hover{background: #2b7f92;}
                    &.has-child.active {background: #2b7f92}
                }
                &.level1.active {background-color: #2b7f92; border-bottom: 0;}
                &.has-child:before { content: "\f107"; font-family: FontAwesome; position: absolute;
                        font-size: 14px; right: 17px; top: 11px}
                &.has-child.active:before { content: "\f106"}
            }
            
            .collapse {background: #197286; display: none; border-bottom: 1px solid #314056}
            .collapse.active {display: block;}        
            a.level2 {border-bottom: 1px solid rgba(0, 0, 0, 0.15); display: block;
             padding: 6px 11px 6px 26px; transition: all 300ms cubic-bezier(0.99, 0, 0.5, 0.99) 0s;
                 &:hover{padding: 6px 5px 6px 32px;}
                 &:hover{border: 0}
            }
        }       
    }   
}

/*------| Headings Group |-----*/ 
.pageHeader{background: #fff; @include box-shadow(0 0 4px rgba(0,0,0,0.2)); padding: 10px; }
h1 {font-size: 1.6rem; margin:0; color:$primary_color; }
h2 {padding: 0 0 5px; font-size: 1.4rem;  border-bottom: 1px solid #ddd; margin: 0 0 10px; color:$primary_color;}
h3{padding: 0 0 5px; font-size: 1.3rem; margin: 0; color:$primary_color;}
h4 {padding: 0 0 5px; font-size: 1.2rem; margin: 0;}


/*------| Content |-----*/
.sidebar-collapsed {
    .sidebar {left:-230px;}
    .content { width: 100%}
}

.content { width: calc(100% - 230px); float: right;  transition:width 200ms ease; padding: 0 0 20px;
    .contentBlock{background: $linkC-color; padding: 15px; @include border-radius(6px);
        @include box-shadow(1px 3px 3px 2px rgba(133, 134, 134, 0.21));
        p{margin: 0 0 10px;}
    }
}

.dashSlider .contentBlock{position: relative; overflow: hidden;}

/*------| Columns |-----*/
.row {display: flex;}
.col-sm-12 { width: calc(100% - 30px); padding:15px;}
.col-sm-9 { width: calc(75% - 30px); padding:15px;}
.col-sm-8 {width: calc(66.666% - 30px); padding:15px;}
.col-sm-6 {width: calc(50% - 30px); padding:15px;}
.col-sm-4 {width: calc(33.333% - 30px); padding:15px;}
.col-sm-3 {width: calc(25% - 30px); padding:15px}
.col-sm-2 {width: calc(16.66% - 30px); padding:15px;}

/*-------| Tabs |--------*/
.tabs {margin: 10px 0 0;
    ul{display: flex;
        li{margin:0 4px;  width:24%;
            a{background: #444; color: $linkC-color; display: block; font-size: 1rem;
                padding: 10px 17px;  @include border-radius(4px);
                &:hover, &.active{background: #222;}
            }
        }
    }
}

.tabCont, .tabContainer {margin: 10px 0}
.tabCont .tabWrapper, .tabCont .tabWrap, .tabContainer .tabWrapper, .tabContainer .tabWrap {
  display: none; font-family:$font-stack}
.tabCont .tabWrapper.active, .tabCont .tabWrap.active, .tabContainer .tabWrapper.active,
.tabContainer .tabWrap.active {display: block}
.tabSelect {width: 100%; padding: 4px 9px; font-size: 1rem; width: 100%; margin: 0 0 10px;
    option { padding: 4px 9px; color: #f00;}
}
#demoForm select, #demoForm input[type=text]{width: 48%; margin-bottom: 10px; padding: 5px;}
#demoForm input[type="button"]{padding: 5px;}

/*-------| Accordion |--------*/
.accLink{background: #0295B7; color: $linkC-color; display: block; padding: 9px 16px;
  position: relative; margin: 0 0 2px; @include border-radius(5px);
    &.active{background: #045D72; @include border-radius(5px 5px 0 0);}
    &:before{content: "\f055"; font-family: FontAwesome; position: absolute;
            font-size: 18px; right: 15px; top: 9px; transition: content 3s ease 0s;}
    &.active:before{content: "\f056"}
    &:hover{ background: #057D99}
}

.accWrapper{ border: 1px solid #045D72; display: none; font-family: Arial,Helvetica,sans-serif;
  padding: 5px; margin: -2px 0 2px; @include border-radius(0 0 5px 5px);
      &.active{display: block}
}

/*-------| Responsive Tabs |--------*/
.ResTabs {
    ul{display: flex;
       li {background: #0295B7;
            a {display: block; font: 16px Arial,Helvetica,Sans-serif;
                color: $linkC-color; padding: 9px 36px;
                    &:hover{background: #1d7584;}
                    &.active{background: #13606d;}
            }
        }
    }
}

.tab-Kent {overflow: hidden; padding: 10px; border-top: 3px double #000;
    .tabKent {display: none;
        &.active{display: block}
    }
}

a.tabAccord, .tabAcc {display: none}

/*--------| Social Slider  |-------*/
.SocialSlider {margin-left: -153px;
    > div {margin-bottom: 8px; color:$linkC-color; overflow: hidden;
  transition: margin-left 0.3s;
        span{width: 100px; padding: 10px 40px 10px 20px; float: left}
        a{border: 1px solid #fff; @include border-radius(50%); color: $linkC-color; height: 25px;
        display: inline-block; margin-left: -17px; padding: 11px 8px 6px; text-align: center; 
          width: 25px;}
        &.move{margin-left: 138px}
    }
}

/*--------| Dash Slider  |-------*/
.DashSlider {display: flex; justify-content: flex-end;
    ul{margin-right: -15px; display: flex; flex-direction: column;
        li{border-bottom: 1px solid #fff;
            a{display: block; background-color: #000; color: $linkC-color; font-size: 1rem;
                padding: 9px 12px;
                &.active{background-color: #333;}
            }
        }
    }
}

.SlideDiv {display: none; background: #333; color: $linkC-color; width: 280px;
  padding: 5px 15px 15px; margin-left:15px; margin-right: -15px;
    &.active{display: block;}
    h4{color: #ddd; font-size: 1.2rem; margin: 0 0 4px}
    p {font-size: 0.9rem; color: $linkC-color}
}

/*--------| Tooltip  |-------*/
.tipDiv{display: flex; justify-content: center; align-items: center; padding: 50px 0; 
    ul { width: 200px; display: flex; flex-direction: column;
        li {border-bottom: 1px solid #fff; text-align: center;
           a {background-color: #000; color:  $linkC-color; display: block; padding: 12px 18px;
                position: relative; text-decoration: none;
               &:hover{background-color: #333;}
               &:last-child{border-bottom: 0;}
            }
        }
    }
}

.tooltip {background: #1fa705; @include border-radius(4px); @include box-shadow( -1px -1px 10px -2px rgba(0, 0, 0, 0.5));
    color: $linkC-color; max-width: 150px; min-width: 130px; padding: 5px; position: absolute; text-align: center;
    &:after{border-color: transparent; border-style: solid; content: ""; height: 0;
        left: calc(50% - 8px); position: absolute; width: 0;}
    &.top::after {border-top: 7px solid #1fa705; border-width: 7px 8px; bottom: -14px}
    &.right::after {border-right: 7px solid #1fa705; border-width: 9px 7px 7px 8px; left: -14px;
      top: 50%; transform: translateY(-50%);}
    &.bottom::after {border-bottom: 7px solid #1fa705; border-width: 9px 8px 7px; top: -15px}
    &.left::after {border-left: 7px solid #1fa705; border-width: 9px 8px 7px 7px; left: auto;
  right: -15px; top: 50%; transform: translateY(-50%);}
}



/*--------| Table  |-------*/
.table-responsive {width: 100%; overflow-x: auto;}
.table {width: 100%;
    thead {background: #ddd;
        tr{
            th {font-weight: 700; padding: 8px; text-align: left}
            
        }
    }
    tbody{
        tr{
           td {padding: 8px; text-align: left;
                input{border: 0; background: #969494; color:  $linkC-color; padding: 5px;
                    &:focus{border: 0;  @include box-shadow(none);  outline: 0;}
                }
            }
            
           &.headRow td {border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;}
            &.subrow {display: none;
                td {background: #f1f1f1}
            }  
        }
    }
    &.table-striped tbody tr td{border-bottom: 1px solid #ddd;}        
}        
    
.color{background: #dddddd; width: 104px; height: 28px; display: inline-block;
        vertical-align: middle; border: 1px solid #a09f9f;}
.pickColor{background: #278ea5; border-color: #166c80; padding:7px 14px 6px;
color: #f4e7ff; }

.colorList{text-align: center; background: #ececec; width: 70%; padding: 5% 15% 4%;
    margin: 0 auto;
    li{display: inline-block; width: 31.6%; margin: 1% 0;
        a{display: block; border: 2px solid #40301B; width: 48px;
            height: 48px; @include box-shadow(2px 4px 4px #000); transition: transform ease 0.5s;
            &.disable{opacity: 0.4; pointer-events: none;}
        }
    }
}

.expandRow {background: #39a00f; display: block; width: 22px; height: 22px;
@include border-radius(50%); text-align: center;
    &:before{font-family: FontAwesome; content: "\f067";font-size: 0.8rem; color: #fefffd;}
}
.expandRow.active{ background: #da1a1a;
    &:before {content: "\f068";}
}

.table tbody tr.headRow.active + tr.subrow, 
.table tbody tr.headRow.active + tr.subrow + tr.subrow{display: table-row;}

/*--------| Clock  |-------*/
.digiClockA, .digiClockB{font-family: 'Comic Sans MS', Arial; font-size: 44px;
text-align: center;}
.digiClockA{color:#980f0f;}
.digiClockB{color:#328003;}

/*------| Color Theme |-----*/
[data-color="green"]{background-color: rgb(140, 197, 63) !important} 
[data-color="red"]{background-color: rgb(236, 28, 36) !important}
[data-color="dodgerBlue"]{background-color: rgb(30, 144, 255) !important}
[data-color="pink"]{background-color: rgb(188, 30, 142) !important}
[data-color="yellow"]{background-color: rgb(244, 237, 49) !important}
[data-color="orange"]{background-color:rgb(251, 175, 64) !important}
[data-color="slateBlue"]{background-color:rgb(106, 90, 205) !important}
[data-color="violet"]{background-color:rgb(238, 130, 238) !important}
[data-color="DarkBlue"]{background-color:rgb(0, 0, 139) !important}

/*--------| Canvas  |-------*/
canvas{border: 1px solid #d3d3d3;}


/*--------| Login  |-------*/
.loginWrap{background: #3b3e4b; color: $linkC-color; position: fixed; width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
    .loginCont{padding:20px; background: rgba(255,255,255,0.1); width: 340px;
        h4{ font-size: 1.8rem; text-align: center; margin-bottom: 40px}
        .form-group{ margin-bottom: 20px; position: relative;
            i{ position: absolute; right: 5px; color: #8e8e8e; top: 8px;
                cursor: pointer;}            
            input{background: transparent;  width: calc(100% - 40px);  border-width: 0 0 1px;
                border-color: #e0e0e0;  color: #bdbdbd;  padding: 11px 40px 11px 0;
                &:focus{border-width: 0 0 1px; border-color:#bdbdbd; outline: 0;}
            }
            
            button{color: $linkC-color;  background-color: #26a69a; text-align: center;
              letter-spacing: .5px; margin: 10px 0 0; text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
              font-size: 0.8rem; cursor: pointer; border:0; width: 100%; padding: 13px 10px; 
                @include border-radius(2px);
               box-shadow :0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
              transition: .2s ease-out;
                &:hover{background-color: #2e7972;}
            }
        }    
    }
}

.loginCont .form-group {
  ::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
    color: #a5a5a5;
    font-size: 0.9rem;
  }
}

/*--------| Full Screen Video  |-------*/
.vidsExit{right: 10px; top: 10px; position: absolute; z-index: 7;}
#myVideo {position: fixed; right: 0; bottom: 0; min-width: 100%; min-height: 100%; z-index: 5;}
.vidContent {position: fixed; bottom: 0; background: rgba(0, 0, 0, 0.5); color: #f1f1f1;
width: 100%; padding: 20px; z-index: 6; left: 0;}
button#myBtn {width: 100px; font-size: 18px; padding: 10px; border: none; background: #000;
color: $linkC-color; cursor: pointer;
    &:hover{background: #ddd; color: black;}
}


.modal {display: none; position: fixed; z-index: 8; padding-top: 100px; left: 0; top: 0;
width: 100%;  height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);
    .modal-content {position: relative;background-color: #fefefe; margin: auto; padding: 0;
        border: 1px solid #888; width: 80%; max-width: 500px;
         box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;  -webkit-animation-duration: 0.4s;
        animation-name: animatetop;  animation-duration: 0.4s}
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
span.close {color:  $linkC-color; float: right; font-size: 28px; line-height:1; font-weight: bold;
    &:hover, &:focus{color: #000; cursor: pointer;}
}
.modal-header {padding: 5px 16px; background-color: #5cb85c; color: $linkC-color;}
.modal-body {padding: 10px 16px;}
#exitModal p{padding: 15px 0; text-align: center; font-size: 1.5rem;}
.modal-footer {padding: 10px 16px; border-top:1px solid #ddd;}
#exitModal .modal-footer{text-align: right;}


/*--------| Image Zoom  |-------*/
.img-zoom-container {position: relative;
    img{width: 500px; float: left;}
}
.img-zoom-lens {position: absolute; border: 1px solid #d4d4d4; width: 40px; height: 40px;}
.img-zoom-result {border: 1px solid #d4d4d4; width: 500px; height: 332px; float: right;}

/*--------| RangeSlider |-------*/
.contentBlock +  .contentBlock{margin-top: 15px;}
.range-slider{position: relative; padding: 30px 0;
    .startPoint, .endPoint{position: absolute; width: 40px;
      height: 32px; @include border-radius(50%); background: #9e1b1b;  text-align: center; top:10px;
      padding: 8px 0 0; color: $linkC-color;}
    .startPoint{left: 0; }
    .endPoint{right: 0;}
}
.range-slider 

.scrollIndicator .contentBlock p{padding: 18px 0 0; text-align: center;
    &.myValue{padding: 5px 10px; padding: 5px 10px;
    width: 50px; text-align: center; margin: 0 auto;}
    span{font-weight: 700;}
}


/*--------| Calculator |-------*/
#calcVal{padding:5px 10px; width: calc(100% - 25px); border: 3px #ddd ridge;
background: #ccc; color: #000304; font-size: 18px; letter-spacing: 2px;
text-transform: uppercase; font-family: Impact;}
.calcWrapper ul{margin:10px -9px 5px; font-size: 0; display: flex; flex-wrap: wrap;
    li{width:calc(25% - 18px); padding: 5px 9px;
        button{width: 100%; font-size: 18px; font-weight: 700;}
    }
}

/*--------| Employee List 3 |-------*/

.list-group-item{padding: 5px 0; border-bottom: 1px solid #000;
    button{margin-left:5px;}
}

/*--------| HCF |-------*/
.commonFact label{font-weight: 700;}
#va{width: 50px}
#new1{display: inline-block; vertical-align: top;}
#new1 input{width: 50px; margin: 0 3px 0 0 ;}

/*--------| Gallery |-------*/
.galleryPage{display: flex; flex-wrap: wrap;}
.mShadow{background-color: rgba(0,0,0,0.7); position: fixed; left: 0; top: 0; right: 0;
bottom: 0; z-index: 2; display: flex; justify-content: center; align-items: center;}

.gModal{position: relative; background:#fff; padding: 10px; width: 620px;
    .modalHeader{border-bottom: 1px solid #ddd; margin: 0 0 10px;
        .close{ @include border-radius(50%); width: 40px; height: 40px; position: absolute;
            top: -15px; right: -15px; text-align: center; padding: 8px 0px; background-color: #b30303;
            border:0;            
            i{font-size: 20px; color: $linkC-color}            
        }
        h4{color: #26940c;}
    }
    
    .modalBody{max-height: 500px; overflow-y: auto;}
    .modalFooter{border-top: 1px solid #ddd; margin-top: 10px; padding: 10px 0 0;}
}

.imgThumb > a{ display: block; padding:11px 10px; background-color: #ddd; 
    img{width: 100%;}
}

.imgThumb .zoomElem{background: #cac7c7; padding:4px 10px; @include border-radius(0 0 4px 4px);
    a{display: inline-block; margin: 0 3px;  padding: 6px 5px 5px;
    color: #5dc8e0; background: #1f5561;  @include border-radius(50%); width: 20px; height: 18px;
    text-align: center;  font-size: 16px; vertical-align: middle; line-height: 1;}
}


/*--------| Table page 2 |-------*/
.gModal.modalSM{width: 325px;}
[name=MyForm] .form-group{
    label{width: 33%;}
    input{ width: 56%;  border: 1px solid #4a4a4a;}
    select{ width: 61%;  border: 1px solid #4a4a4a;}
}
tr.active{background: #61c6f7;}

/*--------| Table page 3 |-------*/
[name=fillRecord]{margin:0 -8px 25px; border-bottom: 1px solid #ddd;
    .col-sm-2{width: calc(16.66% - 16px); padding:5px 8px;}
    .form-group{
        input{width:calc(100% - 8px); padding:4px;}
        select{width: 100%; padding: 4px;}
    }
}

#editData .table tbody tr td input, #editData .table tbody tr td select{width:calc(100% - 10px); padding: 8px 5px;
background: #c5d7ff; color: #2521e4; border:1px solid #2a5fd6;}
#editData .table tbody tr td select{ padding: 6px 5px;}
.table tbody tr td[colspan]{padding: 0;}

/*--------| ATM WithDraw App |-------*/
.cashResult ul{border-bottom: 2px solid #ddd; margin-bottom: 5px; font-size: 0; display: flex; flex-wrap: wrap;
    li{ width: 46%;   padding: 5px 2%; font-size: 15px;
        border-top: 1px solid #ddd;}
}

.backSpace{margin: 0 0 0 -43px; padding: 7px 14px 6px;}
.noteArr{display: flex; justify-content: space-around}

/*--------| Scroll Array |-------*/
.scrollArray, .reverseArray, .breakArray  {display: flex;}